streamlit
PyPDF2
pypdf
pdfplumber
python-dotenv
tiktoken
langchain
langchain-community
langchain-core
beautifulsoup4
llama-index
llama-index-llms-groq
llama-index-embeddings-huggingface
groq
requests
torch
numpy
nltk
openai
huggingface-hub
hf_text